div.consumer-register-div, div.consumer-update-div{
    position: relative;
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
    border-radius: 15px;
    background-color: var(--color-submenu);
}

div.consumer-register-div h1, div.consumer-update-div h1{
    color: white;
    font-size: 3.5rem;
}

div.consumer-register-div form, div.consumer-update-div form{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

div.consumer-register-div form div, div.consumer-update-div form div{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 110px;
    justify-content: space-between;
    align-items: center;
}

div.consumer-register-div form div input, div.consumer-update-div form div input{
    position: relative;
    width: 80%;
    height: 50px;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    font-size: 1.5rem;
    background-color: var(--color-gray);
    transition: .5s;
}

div.consumer-register-div form div input:focus-visible, div.consumer-update-div form div input:focus-visible{
    background-color: white;
    outline: none;
}

input.submit{
    position: relative;
    width: 35%;
    height: 50px;
    border: 0;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: var(--color-gray);
    transition: .5s;
}

input.submit:hover{
    background-color: white;
}

p.alert{
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
}

div.consumer-get-div{
    position: relative;
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    height: 95%;
    border-radius: 15px;
    background-color: var(--color-background-bright);
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

div.consumer-get-div::-webkit-scrollbar{
    width: 10px;
}

div.consumer-get-div::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
div.consumer-get-div::-webkit-scrollbar-thumb {
    background: var(--color-background); 
    border-radius: 10px;
}
