main{
    position: relative;
    display: flex;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.dashboard-container{
    position: relative;
    display: flex;
    width: 90%;
    height: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--cor-fundo-escura);
    overflow-x: scroll;
}

.dashboard-container::-webkit-scrollbar {
    width: 12px;
}
  
.dashboard-container::-webkit-scrollbar-track {
    background: none;
}
  
.dashboard-container::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: none;
}

.dashboard-relatorio-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 32%;
    min-width: 370px;
    height: 95%;
    background-color: var(--cor-clara);
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0 10px;
}

/* ACESSOS */
.dashboard-relatorio-container h2{
    color: white;
    font-size: 0.5rem;
    border-bottom: 2px solid white;
}

.grafico-acessos{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(
        #ff0000 0deg 180deg,
        #1eff00 180deg 360deg    
        );
}

.ajuste-grafico{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: var(--cor-clara);
}

.legenda-grafico-acessos{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.legenda-elemento-acessos{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legenda-elemento-acessos i{
    font-size: 0.25rem;
}

.legenda-elemento-acessos p{
    color: white;
    font-size: 0.25rem;
    margin-left: 10px;
}

/* LOCAIS */
.grafico-locais{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(
        #558BB2 0deg 90deg,
        #214FA7 90deg 180deg,
        #56ADA3 180deg 270deg,
        #46C3D3 270deg 360deg
    );
}

.legenda-grafico-locais{
    position: relative;
    display: grid;
    gap: 5px 40px;
    grid-template-columns: 1fr 1fr;
}

.legenda-elemento-locais{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legenda-elemento-locais i{
    font-size: 0.25rem;
}

.legenda-elemento-locais p{
    color: white;
    font-size: 0.25rem;
    margin-left: 10px;
}

/* USUARIOS */
.grafico-usuarios{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(
        #7421A7 0deg 90deg,
        #A72151 90deg 180deg,
        #A721A2 180deg 270deg,
        #D3439A 270deg 360deg
    );
}

.legenda-grafico-usuarios{
    position: relative;
    display: grid;
    gap: 5px 40px;
    grid-template-columns: 1fr 1fr;
}

.legenda-elemento-usuarios{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legenda-elemento-usuarios i{
    font-size: 0.25rem;
}

.legenda-elemento-usuarios p{
    color: white;
    font-size: 0.25rem;
    margin-left: 10px;
}



