main{
    position: relative;
    display: flex;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.dashboard-container{
    position: relative;
    display: flex;
    width: 90%;
    height: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--cor-fundo-escura);
}

.dashboard-relatorio-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 95%;
    background-color: var(--cor-clara);
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* ACESSOS */
.dashboard-relatorio-container h2{
    color: white;
    font-size: 0.5rem;
    border-bottom: 2px solid white;
}

.grafico-acessos{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(
        #ff0000 0deg 180deg,
        #1eff00 180deg 360deg    
        );
}

.ajuste-grafico{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: var(--cor-clara);
}

.legenda-grafico-acessos{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.legenda-elemento-acessos{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legenda-elemento-acessos i{
    font-size: 0.5rem;
}

.legenda-elemento-acessos p{
    color: white;
    font-size: 0.5rem;
    margin-left: 10px;
}

/* LOCAIS */
.grafico-locais{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(
        purple 0deg 90deg,
        yellow 90deg 180deg,
        pink 180deg 270deg,
        darkgreen 270deg 360deg
    );
}

.legenda-grafico-locais{
    position: relative;
    display: grid;
    gap: 5px 40px;
    grid-template-columns: 1fr 1fr;
}

.legenda-elemento-locais{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legenda-elemento-locais i{
    font-size: 0.25rem;
}

.legenda-elemento-locais p{
    color: white;
    font-size: 0.25rem;
    margin-left: 10px;
}


