header{
    position: relative;
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: var(--cor-fundo);
}

.logo{
    width: 80px;
}

nav ul{
    position: relative;
    display: flex;
}

nav ul li{
    font-size: 0.5rem;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    margin: 0 20px;
    color: white;
    font-size: 0.35rem;
    transition: .5s;
}

.botao-menu{
    color: white;
    transition: .5s;
}

nav ul li:hover, .botao-menu:hover{
    color: rgb(179, 179, 179);
}

.menu-icone{
    display: none;
    color: white;
}

.mostrarMenu{
    animation: mostrarMenuMobile 1s ease-in-out;
    animation-fill-mode: forwards;
}

.esconderMenu{
    animation: esconderMenuMobile 1s ease-in-out;
    animation-fill-mode: forwards;
}

@media (max-width: 1054px){
    .menu-icone{
        display: flex;
    }

    nav{
        position: absolute;
        width: 100%;
        align-items: center;
        justify-content: center;
        left: -100%;
        top: 10vh;
        background-color: var(--cor-fundo);
        padding: 50px 0px;
        border-radius: 0px 0px 15px 15px;
        animation: mostrarMenuMobile .5s;
    }

    nav ul{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    nav ul li{
        font-size: 0.5rem;
        text-decoration: none;
        list-style-type: none;
        list-style: none;
        margin: 0 20px;
        color: white;
        font-size: 0.35rem;
        transition: .5s;
        margin-top: 50px;
    }
}

@keyframes mostrarMenuMobile {
    0%{
        left: -100%;
    }

    100%{
        left: 0%;
    }
}

@keyframes esconderMenuMobile {
    0%{
        left: 0%;
    }

    100%{
        left: -100%;
    }
}