table.content-table{
    border-collapse: collapse;
    font-size: 2rem;
    min-width: 90%;
    margin-top: 20px;
}

table.content-table thead tr{
    background-color: var(--color-background);
    color: white;
    text-align: center;
    font-weight: bold;
}

table.content-table th, table.content-table td {
    padding: 12px 15px;
    color: white;
}

table.content-table tbody tr{
    border-bottom: 1px solid var(--color-background);
    text-align: center;
}

@media (max-width: 1306px) {
    table.content-table{
        font-size: 1rem;
    }
}